<%= form_for @feed, :html => { :class => "form-horizontal feed" } do |f| %>

  <% if @feed.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feed.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!--div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div-->
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url) %>
  </div>
  <!--div class="form-group">
    <%= f.label :fetched_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fetched_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fetched_at) %>
  </div-->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                feeds_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
