<%- model_class = Feed -%>
<div class="page-header">
  <h1>Κανάλια<!--%=t '.title', :default => model_class.model_name.human.pluralize.titleize %--></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
</tr>
</thead>
<tbody>
  <%= will_paginate%>
  <% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.name %></td>
    <td><%= feed.url %></td>
    <td>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      feed_path(feed),
      :method => :delete,
      :class => 'btn btn-xs btn-danger' %>
     <!-- :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      -->
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_feed_path,
:class => 'btn btn-primary' %>
