<%- model_class = Cluster -%>
<div class="page-header">
  <h2><% @keywords.each do |keyword|  %>
    #<%= keyword %>
    <% end %>
  </h2>
</div>
<ul>
  <% @articles.each do |article| %>
  <header>
    <h2>
      <a target="_blank" href="<%= article.url %>">
	<%= article.title %>
      </a>
    </h2>
    <span> <%= URI.parse(article.url).host  %></span>
  </header>
  <div>
    <p>
      <%= article.body.split[0...70].join(' ') %>...
    </p>
    <a target="_blank" href="<%= article.url %>">Read more</a>
  </div>
  <hr>

  <% end %>
  
</ul>
